[submodule "modules/vcsrepo"]
	path = modules/vcsrepo
	url = https://github.com/puppetlabs/puppet-vcsrepo.git
[submodule "modules/vim/files/pathogen"]
	path = modules/vim/files/pathogen
	url = https://github.com/tpope/vim-pathogen.git
